SPRING_DATASOURCE_URL=jdbc:mysql://127.0.0.1:3306/prompt_film?useUnicode=true&characterEncoding=utf8&serverTimezone=UTC
SPRING_DATASOURCE_USERNAME=prompt_film
SPRING_DATASOURCE_PASSWORD=请在本地环境中设置
JWT_SECRET=请在本地环境中设置
SERVER_PORT=8080

