SPRING_DATASOURCE_URL=jdbc:mysql://127.0.0.1:3306/prompt_film?useUnicode=true&characterEncoding=utf8&serverTimezone=UTC
SPRING_DATASOURCE_USERNAME=prompt_film
SPRING_DATASOURCE_PASSWORD=请在本地环境中设置
JWT_SECRET=请在本地环境中设置
SERVER_PORT=18080
SPRING_PROFILES_ACTIVE=demo
WAN_BASE_URL=https://请替换为业务空间ID.ap-southeast-1.maas.aliyuncs.com/api/v1
DASHSCOPE_API_KEY=请在本地环境中设置
WAN_TEXT_MODEL=wan2.7-t2v-2026-06-12
WAN_IMAGE_MODEL=wan2.7-i2v-2026-04-25
WAN_REFERENCE_MODEL=wan2.7-r2v-2026-06-12
WAN_DATA_INSPECTION={"input":"disable","output":"disable"}
